@media print {
    .print-container {
        page-break-after: always; /* Add page break after each page */
    }

    .logo {
        /* position: fixe; */
        /* top: 0;
        right: 0; */
        /* width: 100px; Adjust width as needed */
        /* height: 100px; Adjust height as needed */
        opacity: 0.8; /* Adjust opacity as needed */
        z-index: -1; /* Place logo behind content */
    }
}
